# Virtual Environment
venv/
.venv/
Include/
Lib/
Scripts/
pyvenv.cfg

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
pytest_run.log

# ML Model Weights
weights/*.pt
weights/*.onnx

# Data & Temp files
database/*.db
screenshots/
logs/
reports/

# IDE files
.idea/
.vscode/
